{% extends 'base.html.twig' %}


{# Page Settings #}
{% set title = "Les catégories" %}


{# Page Title #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page Content #}
{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>


    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('category:create') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter une catégorie</a>
    </div>


    {# Tableau de la liste des produits #}
    <table class="table table-hover mt-5">
        {# Entete du tableau HTML #}
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>

        {# Corps du tableau HTML #}
        <tbody>

            {# Boucle sur la liste des produits #}
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>

                    {# Lien vers la page de modification #}
                    <a href="{{ path('category:update', {id: category.id}) }}">edit</a>

                    {# Lien vers la page de detail #}
                    <a href="{{ path('category:read', {id: category.id}) }}">show</a>
                    
                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>


</div>
{% endblock %}