{% extends 'base.html.twig' %}


{# Page Settings #}
{% set title = "Info sur la catégorie : " ~ category.name %}


{# Page Title #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page Content #}
{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>


    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('category:create') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter une catégorie</a>
        <a href="{{ path('category:update', {id: category.id})}}" class="btn btn-warning btn-sm">Modifer la catégorie</a>
        <a href="{{ path('category:delete', {id: category.id}) }}" class="btn btn-danger btn-sm">Supprimer la catégorie</a>
    </div>


    {# Info du Produit #}
    <table class="table table-hover mt-5">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <td>NAME</td>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <td>DESCRIPTION</td>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <td>COLOR</td>
                <td>{{ category.color }}</td>
            </tr>
        </tbody>
    </table>



</div>
{% endblock %}