{% extends 'base.html.twig' %}


{# Page Settings #}
{% set title = "Modification du produit : " ~ product.name %}


{# Page Title #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page Content #}
{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>


    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('product:read', {id: product.id}) }}" class="btn btn-secondary btn-sm">Annuler</a>
        <a href="{{ path('product:index') }}" class="btn btn-secondary btn-sm">Retour à la liste des produits</a>
        <a href="{{ path('product:delete', {id: product.id}) }}" class="btn btn-danger btn-sm"> le produit</a>
    </div>


    {# Formulaire de creation du produit #}
    {% include "product/_form.html.twig" with {
        form: form,
        btn_label: "Modifier le produit"
    } only %}


</div>
{% endblock %}