<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}Catalog 3000 !!{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>

    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">


                {# Brand / Logo #}
                <a class="navbar-brand" href="{{ path('homepage') }}">Navbar</a>
    

                {# Responsive button #}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    

                {# Main nav items #}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                    <ul class="navbar-nav mr-auto">

                        {# Homepage link #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                        </li>

                        {# Product catalog link #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product:index') }}">Catalog</a>
                        </li>


                        {# book link #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('book:index') }}">Books</a>
                        </li>


                        {# categories link #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('category:index') }}">Liste des catégories</a>
                        </li>

                        {# Order link #}
                        {# <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li> #}

                    </ul>

                    {# User nav #}
                    {# TODO: login / register / profile / logout #}
    
                </div>


            </div>
        </nav>
    </header>



    {# Message Flash #}
    {% for status, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{ status}}">{{message}}</div>
    {% endfor %}
    {% endfor %}


    {% block body %}{% endblock %}

    
    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</body>

</html>